@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #E5E5E5;
  color: #533738;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  margin: 0;
}

.activity, .request {
  background: #8D7370;
}

.section-heading, .article-heading {
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.logo, .nav-link, .phone, .promo-button {
  color: #533738;
  text-decoration: none;
}

.nav-list, .activity-list {
  list-style: none;
}

.logo {
  text-transform: uppercase;
}

.header {
  font-size: 16px;
}

.promo {
  background: url("/img/main_background.png");
}

.promo-heading {
  font-size: 50px;
  font-weight: normal;
  line-height: 62px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.activity-list {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

.portfolio-text {
  background: url("/img/bedroom1.png") no-repeat;
}

.portfolio-text h3 {
  font-weight: 500;
  line-height: 37px;
}

.team, .process {
  background: #E2C4BA;
}

.request-heading, .portfolio-text{
  color: white;
}

.request p {
  color: rgba(255, 255, 255, 0.6);
}

cite {
  font-style: normal;
}

.button {
  background: #CC8B86;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.request-button, .more-button {
  border: none; 
  outline: none;
}

.more-button {
  background: #E5E5E5;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  font-family: 'Montserrat';

  color: #533738;
}

.button.request-button {
  color: #533738;
  font-family: 'Montserrat';
}

form {
  color: #F6EDE9;
}
